<div class="wrap">
  <div fxFlex="100%" flayout="row">
    <div fxFlex="34%" fxLayout="column" fxLayoutAlign="space-between start" class="left">
      <div class="logo">Ricardo <span>Cortés</span></div>

      <div class="content">
        <h4>HELLO</h4>
        <h1>I'm Ricardo</h1>
        <p>Developer<br>From Ecuador</p>
        <button>Contact Me</button>
      </div>
      <div class="social-media">
        <img src="icons/github.png" width="24px" alt="github">
        <img src="icons/instagram.png" width="24px" alt="instagram">
        <img src="icons/X-logo.png" width="24px" alt="X-logo">
        <img src="icons/facebook.png" width="24px" alt="facebook">
      </div>
    </div>
    <div fxFlex="100%" class="center">
      <div class="profile-pic"></div>
      <div class="p40">
        <p>Junior Web Developer | Passionate About UX & Aesthetics
          <br>I'm a junior web developer with experience in JavaScript, TypeScript, Angular, HTML, and CSS. I love creating intuitive and visually appealing web experiences. Always eager to learn new technologies, my goal is to become a senior full-stack developer. Outside of coding, I enjoy video games and downhill mountain biking.</p>
          <button>Projects</button>
      </div>
    </div>
    <div fxFlex="100px" class="menu">
      <img src="icons/menu.png" alt="menu" width="20px" class="hamburger">
      <a>HOME</a>
      <a>ABOUT ME</a>
      <a>PROJECTS</a>
      <a>CONTACT</a>
    </div>
  </div>
</div>
