.wrap {
  min-height: 100vh;

  a, button {
    cursor: pointer;
    transition: all 0.5s;
    transform: translateX(0px);

    &:hover {
      transform: translateX(5px);
    }
  }

  .p40 {
    padding: 40px;
  }

  .left {
    background-color: #134091;
    color: #fefefe;
    padding: 40px 0px 40px 90px;
    background-image: linear-gradient(
      30deg,
      #134091 55%,
      #0c367e 30%
      );
      position: relative;

      &::before {
        content: '';
        width: 0;
        height: 0;
        border-left: 371px solid transparent;
        border-right: 250px solid transparent;
        border-top: 244px solid #134091;
        z-index: 0;
        position: absolute;
        right: -66px;
        top: 0;
      }

      &::after {
        content: '';
        width: 0;
        height: 0;
        border-left: 245px solid transparent;
        border-right: 245px solid transparent;
        border-bottom: 275px solid #5074fd;
        z-index: 0;
        position: absolute;
        bottom: 0;
        left: 15%;
        transform: tranlate(-50%, 0px);
        opacity: 0.6;
      }

      .logo {
        z-index: 9;
        font-weight: 600;
        font-size: 30px;

        span {
          color: #54b7f0;
        }
      }

      .content {
        z-index: 9;

        h4 {
          color: #54b7f0;
          margin: 0;
        }

        h1 {
          font-size: 105px;
          margin: 10px 0;
          line-height: 105px;
          white-space: nowrap;
          text-shadow: 5px 3px #0c367e;

          &.small {
            font-size: 60px;
            line-height: 60px;
            white-space: normal;
          }
        }

        p {
          font-size: 26px;
          font-weight: 600;
          margin-bottom: 20px;
          line-height: 24px;
        }

        button {
          border: 2px solid #fefefe;
          border-radius: 5px;
          background-color: transparent;
          font-size: 12px;
          color: #fefefe;
          padding: 14px 50px;
          font-weight: 700;
        }
      }

      .social-media {
        z-index: 9;
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        filter: invert(1);
      }
  }

  .center {
    z-index: 8;
    background-color: #fff;

    .profile-pic {
      background: url('/img/Ricky.jpg');
      width: 100%;
      height: 70vh;
      background-size: cover;
      background-position: top right;
      position: relative;

      &::after {
        content: '';
        background: #0c367e1c;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
      }
    }

    p{
      color: #414143;
      font-size: 14px;
      font-weight: 600;
      margin: 0 0 30px;
      max-width: 90%;
      line-height: 18px;

      &.mb8 {
        margin-bottom: 8px;
      }

      &.mt20 {
        margin-top: 20px;
      }
    }

    button {
      background: #1c2431;
      border: 1px solid #1c2431;
      border-radius: 5px;
      font-size: 12px;
      padding: 14px 40px;
      color: #fff;
      font-weight: 600 ;
    }
  }

  .menu-icon {
    position: absolute;
    right: 40px;
    z-index: 9999;
    top: 40px;
    display: inline-flex;
    filter: invert(1);
  }

  .menu {
    background-color: #252d3b;
    color: #fdfffc;
    padding: 40px 41px;
    display: flex;
    flex-direction: column;
    gap: 145px;
    justify-content: center;
    overflow: hidden;

    .menu-items {
      font-size: 12px;
      display: flex;
      flex-direction: column;
      gap: 30px;

      a {
        text-orientation: mixed;
        writing-mode: vertical-lr;
        padding: 10px 50px 10px 8px;
        font-size: 10px;
        font-weight: 600;

        &.active, &:hover {
          background-color: #2a3444;

          &::before {
            content: '';
            width: 65px;
            height: 1px;
            display: inline-block;
            position: absolute;
            background: #e8eaea;
            left: -40px;
            top: 50%;
            transform: translate(-50%, 0);
          }
        }
      }
    }
  }
}
