<div class="wrap">
  <div fxFlex="100%" flayout="row" fxLayout.lt-md="column">
    <div
      fxFlex="22.3%"
      fxFlex.lt-md="100%"
      fxLayout="column"
      fxLayoutGap="40px"
      fxLayoutAlign="space-between start"
      class="left"
    >
      <div class="logo">Ricardo <span>Cortés</span></div>
      <div class="button-container">
        <button class="theme-toggle" (click)="toggleTheme()">
          <img
            [src]="isDarkMode ? 'icons/sun.png' : 'icons/moon.png'"
            alt="Theme icon"
            width="24px"
          />
        </button>
        <button class="language-toggle" (click)="toggleLanguage()">
          {{ languageService.getCurrentLanguage() === "en" ? "ES" : "EN" }}
        </button>
      </div>
      <div class="content">
        <h4>{{ languageService.getTranslation("hello") }}</h4>
        <h1 [ngClass]="{ small: view != 'isHome' }">
          {{ languageService.getTranslation("im") }}
        </h1>
        <p
          [innerHTML]="
            formatText(languageService.getTranslation('description'))
          "
        >
          {{ languageService.getTranslation("description") }}
        </p>
        <button
          aria-label="Contact Me"
          onclick="window.open('https://mail.google.com/mail/?view=cm&fs=1&to=rickycortes668668@gmail.com&su=Inquiry&body=Hello,%20I%20would%20like%20to%20know%20more%20about...')"
        >
          {{ languageService.getTranslation("contactMeButton") }}
        </button>

        <button
          class="download-cv"
          (click)="downloadCV()"
          [attr.aria-label]="languageService.getTranslation('downloadCV')"
        >
          {{ languageService.getTranslation("downloadCV") }}
        </button>
      </div>
      <div class="social-media">
        <a href="https://github.com/RickyBv1" target="_blank"
          ><img src="icons/github.png" width="24px" alt="github"
        /></a>
        <a
          href="https://www.linkedin.com/in/ricardo-cortes-b29739179/"
          target="_blank"
          ><img src="icons/linkedin.png" width="24px" alt="linkedin"
        /></a>
        <a href="https://www.instagram.com/rickycortes24/" target="_blank"
          ><img src="icons/instagram.png" width="24px" alt="instagram"
        /></a>
        <a href="https://x.com/Bv1Ricky" target="_blank"
          ><img src="icons/X-logo.png" width="24px" alt="X-logo"
        /></a>
      </div>
    </div>
    <div fxFlex="100%" class="center">
      <ng-container *ngIf="view === 'isHome'">
        <div class="profile-pic"></div>
        <div class="p40">
          <p
            [innerHTML]="formatText(languageService.getTranslation('homeInfo'))"
          >
            {{ languageService.getTranslation("homeInfo") }}
          </p>
        </div>
      </ng-container>
      <ng-container *ngIf="view === 'isAboutMe'">
        <div class="p40">
          <h4>{{ languageService.getTranslation("aboutMe") }}</h4>
          <p
            [innerHTML]="
              formatText(languageService.getTranslation('aboutMeDescription'))
            "
          >
            {{ languageService.getTranslation("aboutMeDescription") }}
          </p>
        </div>
      </ng-container>
      <ng-container *ngIf="view === 'isProjects'">
        <div class="p40 data">
          <h4>{{ languageService.getTranslation("projects") }}</h4>
          <div class="projects">
            <div *ngFor="let project of getProjectsList()" class="card">
              <img
                [src]="getProjectImagePath(project.title)"
                alt="{{ project.title }}"
                width="100%"
              />
              <h3>{{ project.title }}</h3>
              <p>{{ project.description }}</p>
              <p>{{ project.technologies }}</p>
              <a [href]="getProjectLink(project.title)" target="_blank">{{
                project.linkText
              }}</a>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="view === 'isContact'">
        <div class="p40">
          <h4>{{ languageService.getTranslation("contact") }}</h4>
          <p class="mb8 mt20">Email:</p>
          <div><b>rickycortes668668&#64;gmail.com</b></div>
          <p class="mb8 mt20">
            {{ languageService.getTranslation("phoneNumber") }}
          </p>
          <div><b>+1 516 675 6343</b></div>
        </div>
      </ng-container>
    </div>
    <!-- Menú siempre en el DOM, pero oculto visualmente -->
    <div class="menu" [class.menu-visible]="isShowMenu">
      <div class="menu-items">
        <a
          [ngClass]="{ active: view === View.Home }"
          (click)="handleGoToMenu(View.Home)"
          >{{ languageService.getTranslation("home") }}</a
        >
        <a
          [ngClass]="{ active: view === View.AboutMe }"
          (click)="handleGoToMenu(View.AboutMe)"
          >{{ languageService.getTranslation("aboutMe") }}</a
        >
        <a
          [ngClass]="{ active: view === View.Projects }"
          (click)="handleGoToMenu(View.Projects)"
          >{{ languageService.getTranslation("projects") }}</a
        >
        <a
          [ngClass]="{ active: view === View.Contact }"
          (click)="handleGoToMenu(View.Contact)"
          >{{ languageService.getTranslation("contact2") }}</a
        >
      </div>
    </div>
    <a class="menu-icon"
      ><img
        src="icons/menu.png"
        alt="menu"
        class="hamburger"
        width="30px"
        (click)="isShowMenu = !isShowMenu"
    /></a>
  </div>
</div>

<!-- <div class="credit-card" (click)="goToLinkedIn()">
  Original template made by Ricardo Cortés
</div> -->
